body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

.cus-classroom-card {
  cursor: pointer;
  width: 20rem;
  height: 15rem;
  transition: all linear 0.2s;
}

.cus-classroom-card:hover {
  box-shadow: 0 0 15px 5px rgba(100, 100, 100, 0.2);
}

.cus-classroom-card__avatar {
  right: 0px;
  bottom: 10rem;
  height: 5rem;
}

.cus-classroom-card__avatar__img {
  width: 5rem;
  position: relative;
  left: calc(100% - 6rem);
}

.cus-menu-left {
  height: calc(100% - 5rem);
  top: 5rem;
  z-index: 2;
  transition: all linear 0.2s;
}

.cus-add-button {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  transition: all linear 0.2s;
}

.cus-add-button:hover {
  box-shadow: 0 0 15px 5px rgba(100, 100, 100, 0.2);
}

.cus-spinner {
  width: 5.2rem;
  height: 5.2rem;
}

.cus-classroom-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(64, 64, 64, 0.3);
}

.cus-host-name-text {
  max-width: calc(100% - 6rem);
}

.cus-menu-item {
  transition: all linear 0.2s;
  cursor: pointer;
  overflow: hidden;
}

.cus-menu-item--active,
.cus-menu-item:hover {
  background-color: rgba(242, 242, 242, 1);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.cus-top-nav {
  height: 5rem;
  z-index: 999;
}

.cus-toggle-menu-btn {
  width: 3rem;
  height: 3rem;
  transition: all linear 0.2s;
  cursor: pointer;
}

.cus-toggle-menu-btn:hover {
  background-color: rgba(242, 242, 242, 1);
}

.cus-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.cus-my-avatar {
  width: 3rem;
  height: 3rem;
  transition: all linear 0.2s;
}

.cus-my-avatar:hover {
  box-shadow: 0 0 5px 3px rgba(100, 100, 100, 0.2);
}

.cus-tab-item {
  border-bottom: solid 3px white;
  font-weight: 600;
  transition: all linear 0.2s;
}

.cus-tab-item:hover {
  background-color: rgba(156, 156, 156, 0.2);
}

.cus-tab-item--active {
  border-bottom: solid 3px blue;
  color: blue;
}

.cus-classroom-page-banner {
  transition: all linear 0.3s;
  border-radius: 0.75rem;
  height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(64, 64, 64, 0.3);
}

.cus-short-event-info {
  width: 12rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.cus-bg-special-pattern {
  background-color: #5c5c5c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23252525' fill-opacity='0.47' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

.cus-bg-special-pattern .modal-content {
  border-radius: 1.5rem !important;
  box-shadow: 0 0 15px 5px rgba(100, 100, 100, 0.5) !important;
  border: none !important;
}

.cus-rounded-1dot5rem {
  border-radius: 1.5rem;
}

.cus-title-login-modal {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  height: 10rem;
  background-image: url("./images/bg-title-login-min.jpg");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(64, 64, 64, 0.5);
  text-shadow: 0 0 2px rgba(37, 37, 37, 0.8);
}

.cus-rounded-dot75rem {
  border-radius: 0.75rem;
}

.cus-login-btn {
  height: 3rem;
  width: 3rem;
  transition: all ease-in-out 0.3s;
}

.cus-login-btn:hover {
  transform: rotate(360deg);
}

.cus-avatar-dropdown {
  overflow-wrap: break-word;
  width: 14rem;
  visibility: hidden;
  z-index: 2;
}

.cus-avatar-dropdown--show {
  visibility: visible;
}

.cus-dropdown-opt {
  transition: background-color ease-in-out 0.3s;
}

.cus-dropdown-opt:hover {
  background-color: rgba(156, 156, 156, 0.2);
}

.cus-assignment-item {
  cursor: move;
  height: 5.5rem;
  transition: all ease-in-out 0.2s;
  border: solid 1px white !important;
  border-bottom: solid 1px rgba(156, 156, 156, 0.2) !important;
}

.cus-assignment-item:hover {
  border: 1px solid rgba(156, 156, 156, 0.2) !important;
  box-shadow: 0 0 5px 3px rgba(180, 180, 180, 0.2);
  border-radius: 1rem;
}

table {
  border-collapse: collapse;
  border-radius: 1rem !important;
  overflow: hidden;
}

.cus-notif-dropdown {
  overflow-wrap: break-word;
  width: 20rem;
  visibility: hidden;
  z-index: 2;
}

.cus-notif-dropdown--show {
  visibility: visible;
}

.cus-notif-list {
  overflow: scroll;
  overflow-x: hidden;
  height: 22rem;
}

.cus-notif-list::-webkit-scrollbar {
  width: 4px;
}

.cus-notif-list::-webkit-scrollbar-thumb {
  background-color: rgb(99, 99, 99);
}

.cus-notif-list::-webkit-scrollbar-track {
  background-color: rgb(192, 192, 192);
}

#listUsers table {
  table-layout: fixed;
  min-width: 50rem;
}
